@font-face {
  font-family: 'Fahkwang';
  src: url('/fonts/Fahkwang-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Fahkwang';
  src: url('/fonts/Fahkwang-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fahkwang';
  src: url('/fonts/Fahkwang-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Fahkwang';
  src: url('/fonts/Fahkwang-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Fahkwang';
  src: url('/fonts/Fahkwang-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Fahkwang';
  src: url('/fonts/Fahkwang-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
/* Repita o bloco para todas as demais variações (Italic, ExtraLight, etc) que você precisar */


:root {
  --color-white: #fff;
  --color-shadow: rgba(0, 0, 0, 0.7);
  --font-family-base: "Fahkwang", sans-serif;
  --header-height-nav: 100px;
  --header-height-banner: 100vh;
  --font-size-banner: 2.5rem;
  --padding-banner-top: 130px;
  --max-width-container: 90rem;
  --spacing-horizontal: 1.25rem;
  --black-6-c: #0F0E0D;
  --pantone-414-c: #ADA495;
  --pantone-5455-cvc: #D8D5CF;
  --pantone-000-c: #F1F0EC;
  --pantone-000-c: #FFFFFF;
  --slide-width: 500px;

  --screen-xs: 320px;
  --screen-sm: 390px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1366px;
  --screen-2xl: 1536px;
  --screen-3xl: 1920px;
  --screen-4xl: 2560px;
  --screen-5xl: 3840px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
}

body {
  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
h1, h2, h3, h4, h5, h6,
select {
  font-family: 'Fahkwang', sans-serif !important;
}



