:root {
  --color-white: #fff;
  --color-shadow: rgba(0, 0, 0, 0.7);
  --font-family-base: "Fahkwang", sans-serif;
  --header-height-nav: 100px;
  --header-height-banner: 100vh;
  --font-size-banner: 2.5rem;
  --padding-banner-top: 130px;
  --max-width-container: 90rem;
  --spacing-horizontal: 1.25rem;
  --black-6-c: #0F0E0D;
  --pantone-414-c: #ADA495;
  --pantone-5455-cvc: #D8D5CF;
  --pantone-000-c: #F1F0EC;
  --pantone-000-c: #FFFFFF;
  --slide-width: 500px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
}

body {
  line-height: 1.6;
  font-family: 'Fahkwang', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}